@charset "UTF-8";

body {
    display:grid;
    grid-template-columns: 50px 500px 300px 200px ;
    grid-template-rows: 200px 200px 200px 200px ;
    grid-template-areas: 
    "header     header     header    header"
    "nav      nav     nav     nav "
    ".     main     aside     ."
    ".     article  article    ."
    "footer footer footer footer";
background-color: rgb(80, 78, 88);    
}
html, body {
    height:100%;
}

header {
    grid-area: header;
   
}

nav {
    grid-area: nav;
    
    
}
nav ul {
    list-style: none;
    margin:30px;
    padding: 0;
    display:flex;
    gap:2rem;
    flex-direction: row;
    text-align: center;
    
}
nav a {
    text-decoration: none;
    display:block;
    
}
nav a:link, nav a:visited {
   
    color: lawngreen;
}
nav a:hover, nav a:active {
    background-color: rgb(141, 131, 131);
    color: navy;
}
nav a .thisPage {
    color: orange;
}
main {
    grid-area: main;
}
aside {
    grid-area: aside;
}
article {
    grid-area: article;
}
nav ul ul {
    visibility:hidden;
    flex-direction:row;
}
nav ul li:hover ul{
    display: flex;
    visibility: visible;
}
#firstPageHeader {
    background-image: url(../img/Logotyp.jpg);
}
table {
    background-color: #ffffff;
    border-collapse: collapse;
    box-shadow: 10px 10px 15px #1b1a1a;
    ;
    float:right;
    
    
}
th, td {
    border: 2px solid #cccccc;
    padding: 6px;
    text-align: left;
}
th {
    background-color: #c0a05f;
    color: aliceblue;
    vertical-align: bottom;
}
tr:nth-of-type(even) {
    background-color: #EDC;
}
#booking {
    padding: 20px;
}
#booking fieldset {
    background-color: #ffeedd;
    margin-bottom: 20px;
}
#booking legend {
    font-weight: bold;
}
#send {
text-align: justify;
}
#booking fieldset div {
    display:grid;
    gap: 0.6em;
    white-space: nowrap;
}
#date div {
    grid-template-columns: 1fr 1fr;
}
#send input {
    font-size: 1.5em;
    border-radius: 0.6em;
    background-color: #c41313;
    box-shadow: 10px 10px 15px #1b1a1a;
}
#location {
    width: 60ch;
    box-shadow: 10px 10px 15px #1b1a1a;
}
#name {
    width: 60ch;
    box-shadow: 10px 10px 15px #1b1a1a;
}
#mail {
    width: 60ch;
    box-shadow: 10px 10px 15px #1b1a1a;
}
#date {
    width: 60ch;
    box-shadow: 10px 10px 15px #1b1a1a;
}
#uppgifter {
    width: 60ch;
    box-shadow: 10px 10px 15px #1b1a1a;
}